<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    
    
    <title>Name Calculator</title>
  </head>
  <body >
    <div class="container">
    <h1>Lunch Checker</h1>
    <div ng-controller="LunchCheckController">
      <div class="form-group" >
        <input id="lunch-menu" type="text" class="form-control" ng-model="items"> <!--NOT COSIDERING ', ,' AS AN ITEM -->
      </div>
      <div class="form-group">
        <button  class="btn btn-default" ng-click="sayMessage();" ng-if="!message">Check If Too Much</button>
        <button  class="btn btn-default" ng-click="sayMessage();" ng-if="message=='Too Much!'" style=" border: 2px solid green;"  >Check If Too Much</button> 
         <button  class="btn btn-default" ng-click="sayMessage();" ng-if="message=='Enjoy!'" style=" border: 2px solid green;" >Check If Too Much</button> 
          <button  class="btn btn-default" ng-click="sayMessage();" ng-if="message=='Please Enter Data First'" style=" border: 2px solid red;" >Check If Too Much</button> 
            
      </div>
      <div class="form-group message" ng-if="message=='Too Much!'" style=" color: green;">{{message}}</div>
      <div class="form-group message" ng-if="message=='Enjoy!'" style=" color: green;">{{message}}</div>
      <div class="form-group message" ng-if="message=='Please Enter Data First'" style=" color: red;">{{message}}</div>

    </div>
  </div>
  </body>
</html>
